.hidden {
  display: none !important;
}

#login-form .hidden {
  display: none;
}

header {
  display: flex;
  justify-content: center;
}

#login-form {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#login-form input {
  border: none;
  font-size: 30px;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
}

#login-form input::placeholder {
  color: white;
}

#login-form input:nth-child(2) {
  position: relative;
  right: 40px;
  color: #58765c;
}

#greeting {
  display: flex;
  justify-content: center;
  position: relative;
  right: 15px;
  font-size: 40px;
  font-weight: 600;
  padding: 20px;
  color: #446148;
  font-family: "Libre Baskerville", serif;
}
