.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.notes span {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  font-weight: 600;
}

textarea {
  width: 80%;
  height: 80%;
  border: 0;
  resize: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
}
