#img-box {
  display: flex;
  justify-content: center;
}

.img-box_layout:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.img-box_layout:first-child img {
  width: 130px;
  height: 250px;
  border-radius: 30px;
  padding: 3px;
}

.img-box_layout:last-child img {
  width: 130px;
  height: 125px;
  border-radius: 30px;
  padding: 3px;
}
